
.MainAbout{
  margin: auto;
  width: 1000px;
  height: 750px;
  background-color: white;
  margin-bottom: 50PX;
}
h1{
  text-align: center;
  margin-top: 50px;

}
h2{
  margin-left: 20px;
}
h3{
  margin-bottom: 0px;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
body{
  background-size: 100% 100%;
  background-attachment: fixed;
}

img{
  width:300px;
  height: 300px;
  object-fit: contain;
  padding-right: 20px;
}

.Box1{
  display: inline-block;
  margin-left: 10px;
}

.TextTeam{
  margin-left: 50px;
}